MASTER_ORCHESTRATOR_PORT=8000
PLANNER_URL=http://127.0.0.1:8002
MEMORY_URL=http://127.0.0.1:8001
MAX_CONCURRENT_TASKS=5
DEFAULT_TASK_TIMEOUT=300
DEFAULT_RETRY_LIMIT=3
LOG_LEVEL=INFO
PERSISTENCE_BACKEND=memory
